@*@model List*@
@{
//ViewBag.Title = "Home Page";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <p>Cette application vous permet de créer une liste de choses à apporter pour un évènement !<br />
        Partagez le lien vers votre liste pour que vos amis puissent la modifier.</p>

        <a href="/Home/New" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Créer une nouvelle liste</a>
    </div>
</div>